<div class="md-display-1 md-padding">Admin Dashboard</div>

<md-content class="md-padding">
    <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
        <md-tab id="tab1">
            <md-tab-label>Today Progress</md-tab-label>
            <md-tab-body>
                View for Item #1 <br/>
                data.selectedIndex = 0;
            </md-tab-body>
        </md-tab>
        <md-tab id="tab2">
            <md-tab-label>Assigmrnts</md-tab-label>
            <md-tab-body>
                View for Item #2 <br/>
                data.selectedIndex = 1;
            </md-tab-body>
        </md-tab>
        <md-tab id="tab3">
            <md-tab-label>Log</md-tab-label>
            <md-tab-body>
                View for Item #3 <br/>
                data.selectedIndex = 2;
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
