
<span class="md-display-3">Admin Login:</span>

<form ng-submit="login();">

<md-content layout-padding  layout-sm="column">
    <md-input-container flex="40">
        <label>Email</label>
        <input ng-model="user.email" type="email" required>
    </md-input-container>
    <md-input-container flex="40">
        <label>Password</label>
        <input ng-model="user.password" type="password" required>
    </md-input-container>
    <md-button type="submit" class="md-button md-raised md-primary">login</md-button>

</md-content>
</form>
